@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@theme {
  --breakpoint-map: 692px;
}

@theme inline {
  --font-sans: 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: var(--font-jetbrains-mono), 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
  --shadow-box: 0 1px 6px 0 rgb(131 131 131 / 10%);

  /* 向上浮入的动画 */
  --animate-float-in: float-in 1.5s ease-out forwards;

  @keyframes float-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(96% 0.007 247.896);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(62% 0.214 259.815);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@utility prose {

  /* 标题：增加章节间距和分隔线 */
  h2 {
    @apply relative;

    /* 在 h2 前添加淡色的章节标记 */
    &::before {
      @apply absolute content-['H2'] text-base-content/40 text-xs bottom-1 right-[calc(100%+10px)] font-serif font-medium;
    }
  }

  h3 {
    @apply relative;

    /* 在 h3 前添加淡色的章节标记 */
    &::before {
      @apply absolute content-['H3'] text-base-content/40 text-xs bottom-1.5 right-[calc(100%+10px)] font-serif font-medium;
    }
  }

  h4 {
    @apply mb-4 relative;

    /* 在 h4 前添加淡色的章节标记 */
    &::before {
      @apply absolute content-['H4'] text-base-content/40 text-xs bottom-0.5 right-[calc(100%+10px)] font-serif font-medium;
    }
  }

  /* 链接：默认点状下划线，悬停时为实线 */
  a {
    @apply underline decoration-dotted underline-offset-4;

    &:hover {
      @apply decoration-solid
    }
  }

  /* 删除线样式 */
  del {
    @apply decoration-wavy decoration-error text-base-content/50;
  }

  /* 引用块：左侧绿色边框，去除默认引号 */
  blockquote {
    @apply border-l-success pl-4 not-italic font-normal;

    blockquote {
      @apply border-l-gray-300;
    }
  }

  /* 移除 blockquote 内段落的默认引号 */
  blockquote p:first-of-type::before,
  blockquote p:last-of-type::after {
    @apply content-none;
  }

  /* 表格：表头和表格底部添加边框 */
  table {
    @apply border-y;

    thead {
      @apply border-b bg-base-content/5;

      th {
        @apply p-2;

        &:first-of-type {
          @apply pl-0;
        }

        &:last-of-type {
          @apply pr-0;
        }
      }
    }
  }

  /* 图片及说明：图片圆角，说明居中并加上符号 */
  figure {
    @apply my-6 overflow-hidden;

    img {
      @apply rounded-lg;
    }

    figcaption {
      @apply text-center;

      /* 在说明前添加三角符号 */
      &::before {
        @apply content-["\25B2"] mr-1 text-base-content/30;
      }
    }
  }

  /* 修改代码块背景 */
  pre {
    @apply bg-base-200 text-base-content border-1 border-base-300;
  }

  /* 增加任务列表复选框右边距 */
  .task-list-item {
    input {
      @apply mr-1;
    }
  }
}
